{% extends 'base.html' %}

{% block extra_head %}
<title>Список писем</title>
{% endblock %}

{% block content %}
<h5>Последние {{ last_qty }} писем:</h5>
    <table class="table table-borderless mt-4">
        <thead class="table-light">
            <tr>
                <th scope="col">Адрес</th>
                <th scope="col">Текст</th>
                <th scope="col">Создано</th>
                <th scope="col">Время отправки</th>
                <th scope="col">Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for mail in last_mails %}
            <tr>
                <td>{{ mail.address }}</td>
                <td>{{ mail.text }}</td>
                <td>{{ mail.created_time|date:"d M Y" }} {{ mail.created_time|time:"G:i:s" }}</td>
                <td>{{ mail.dispatch_time|date:"d M Y" }} {{ mail.dispatch_time|time:"G:i:s" }}</td>
                {% if mail.sent %}
                    <td>Отправлено</td>
                {% else %}
                    <td>Ожидает отправки</td>
                {% endif %}
            </tr>
            {% endfor %} 
        </tbody>
    </table>
    <a href='{% url 'mailsender:send_mail' %}'}' class="btn btn-primary mt-3">Отправить новое письмо</a>
{% endblock %}